<div class="d-none d-lg-block mt-5" style="background-color: rgba(255,255,255,0.02);; font-size: 1.3rem;">
    <p class="py-2">SON YORUMLAR</p>
    <div class="last-comment mb-3">
        <span class="last-comment-article"><a class="last-comment-link" href="#">Matematik ve Oyun Programlama - Missile
                Command - Final -</a></span>
        <span class="last-comment-user">Efe Baştan yazdı:</span>
        <span class="last-comment-content">Bu makale sayesinde projemi zenginleştirdim.</span>
    </div>
    <div class="last-comment mb-3">
        <span class="last-comment-article"><a class="last-comment-link" href="#">Matematik ve Oyun Programlama - Missile
                Command - Final -</a></span>
        <span class="last-comment-user">Efe Baştan yazdı:</span>
        <span class="last-comment-content">Bu makale sayesinde projemi zenginleştirdim.</span>
    </div>
    <div class="last-comment mb-3">
        <span class="last-comment-article"><a class="last-comment-link" href="#">Matematik ve Oyun Programlama - Missile
                Command - Final -</a></span>
        <span class="last-comment-user">Efe Baştan yazdı:</span>
        <span class="last-comment-content">Bu makale sayesinde projemi zenginleştirdim.</span>
    </div>
    <div class="last-comment mb-3">
        <span class="last-comment-article"><a class="last-comment-link" href="#">Matematik ve Oyun Programlama - Missile
                Command - Final -</a></span>
        <span class="last-comment-user">Efe Baştan yazdı:</span>
        <span class="last-comment-content">Bu makale sayesinde projemi zenginleştirdim.</span>
    </div>
    <div class="last-comment mb-3">
        <span class="last-comment-article"><a class="last-comment-link" href="#">Matematik ve Oyun Programlama - Missile
                Command - Final -</a></span>
        <span class="last-comment-user">Efe Baştan yazdı:</span>
        <span class="last-comment-content">Bu makale sayesinde projemi zenginleştirdim.</span>
    </div>
    <div class="last-comment mb-3">
        <span class="last-comment-article"><a class="last-comment-link" href="#">Matematik ve Oyun Programlama - Missile
                Command - Final -</a></span>
        <span class="last-comment-user">Efe Baştan yazdı:</span>
        <span class="last-comment-content">Bu makale sayesinde projemi zenginleştirdim.</span>
    </div>
    <div class="last-comment mb-3">
        <span class="last-comment-article"><a class="last-comment-link" href="#">Matematik ve Oyun Programlama - Missile
                Command - Final -</a></span>
        <span class="last-comment-user">Efe Baştan yazdı:</span>
        <span class="last-comment-content">Bu makale sayesinde projemi zenginleştirdim.</span>
    </div>
    <div class="last-comment mb-3">
        <span class="last-comment-article"><a class="last-comment-link" href="#">Matematik ve Oyun Programlama - Missile
                Command - Final -</a></span>
        <span class="last-comment-user">Efe Baştan yazdı:</span>
        <span class="last-comment-content">Bu makale sayesinde projemi zenginleştirdim.</span>
    </div>
    <div class="last-comment mb-3">
        <span class="last-comment-article"><a class="last-comment-link" href="#">Matematik ve Oyun Programlama - Missile
                Command - Final -</a></span>
        <span class="last-comment-user">Efe Baştan yazdı:</span>
        <span class="last-comment-content">Bu makale sayesinde projemi zenginleştirdim.</span>
    </div>
    <div class="last-comment mb-3">
        <span class="last-comment-article"><a class="last-comment-link" href="#">Matematik ve Oyun Programlama - Missile
                Command - Final -</a></span>
        <span class="last-comment-user">Efe Baştan yazdı:</span>
        <span class="last-comment-content">Bu makale sayesinde projemi zenginleştirdim.</span>
    </div>
</div>