<div class="p-5 bg-black mb-5" style="background-color:background-color: rgba(255,255,255,0.02);">
    <h3 style="color: burlywood; font-weight: bolder; padding: ;"><a asp-action="Index" class="btn btn-dark ms-auto me-4">
            <i class="fa-solid fa-arrow-left"></i></a>Kişisel Profilim</h3>
    <form method="post" asp-action="Edit">
        <div class="mb-3">
            <input type="text" class="form-control border-1 border-light rounded-0 bg-black text-light mt-4" name="Name"
                id="Name" aria-describedby="Name" placeholder="ISIM">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control border-1 border-light rounded-0 bg-black text-light mt-4"
                name="Surname" id="Surname" aria-describedby="Surname" placeholder="SOYISIM">
        </div>
        <div class="mb-3">
            <input type="email" class="form-control border-1 border-light rounded-0 bg-black text-light mt-4"
                name="Email" id="Email" aria-describedby="emailHelpId" placeholder="EMAIL">
        </div>
        <div class="mb-3">
            <div class="mb-3">
                <textarea class="form-control border-1 border-light rounded-0 bg-black text-light mt-4" name="Describe"
                    id="Describe" rows="8" placeholder="AÇIKLAMA"></textarea>
            </div>
        </div>
        <div class="mb-3 d-flex mt-4">
            <i class="fa-brands fa-linkedin fa-2xl me-2"></i>
            <input type="text" class="form-control border-1 border-light rounded-0 bg-black text-light" name="Linkedin"
                id="Linkedin" aria-describedby="Linkedin" placeholder="LINKEDIN LINK">
        </div>
        <div class="mb-3 d-flex mt-4">
            <i class="fa-brands fa-facebook fa-2xl me-2"></i>
            <input type="text" class="form-control border-1 border-light rounded-0 bg-black text-light" name="Facebook"
                id="Facebook" aria-describedby="Facebook" placeholder="FACEBOOK LINK">
        </div>
        <div class="mb-3 d-flex mt-4">
            <i class="fa-brands fa-github fa-2xl me-2"></i>
            <input type="text" class="form-control border-1 border-light rounded-0 bg-black text-light" name="Github"
                id="Github" aria-describedby="Github" placeholder="GITHUB LINK">
        </div>
        <div class="mb-3 d-flex mt-4">
            <i class="fa-brands fa-twitter fa-2xl me-2"></i>
            <input type="text" class="form-control border-1 border-light rounded-0 bg-black text-light" name="Twitter"
                id="Twitter" aria-describedby="Twitter" placeholder="TWITTER LINK">
        </div>
        <div class="mb-3">
            <div class="mb-3 mt-4">
                <textarea class="form-control border-1 border-light rounded-0 bg-black text-light" name="Biography"
                    id="Biography" rows="35" placeholder="BİYOGRAFİ (MARKDOWN OLARAK GİRİZİN.)"></textarea>
            </div>
        </div>
        <div class="d-grid gap-2 mt-4">
            <button type="submit" name="btnComment" id="btnComment" class="btn btn-success">Bilgileri Kaydet</button>
        </div>
    </form>
</div>