<footer class="d-none d-lg-block " style="font-weight: 100; margin-top: 2rem;">
    <span class="text-muted">Copyright © 2023</span><br>
    <span class="text-muted">Powered by Furkan Baştan</span><br>
    <span class="text-muted">Designed by Furkan Baştan</span>
</footer>