

<div class="p-5 bg-black mb-5" style="background-color:background-color: rgba(255,255,255,0.02);">
    <div class="container">
        <h4>Yorum Ekle <i class="fa-regular fa-comment"></i></h4>
        <div class="row px-4">
            <div class="media comment-box d-flex mt-4">
                <div class="media-left">
                    <a href="#">
                        <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                    </a>
                </div>
                <div class="media-body col">
                    <form method="post">
                        <div class="mb-3">
                            <input type="text" class="form-control border-1 border-light rounded-0 bg-black text-light" name="Name" id="Name" aria-describedby="helpId"
                                placeholder="ISIM">
                        </div>
                        <div class="mb-3">
                            <input type="email" class="form-control border-1 border-light rounded-0 bg-black text-light" name="Email" id="Email"
                                aria-describedby="emailHelpId" placeholder="EMAIL">
                        </div>
                        <div class="mb-3">
                            <div class="mb-3">
                              <textarea class="form-control border-1 border-light rounded-0 bg-black text-light" name="Comment" id="Comment" rows="8" placeholder="YORUM"></textarea>
                            </div>
                        </div>
                        <div class="d-grid gap-2">
                          <button type="submit" name="btnComment" id="btnComment" class="btn btn-success">Yorumu Gönder</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>