
<div class="p-5 bg-black mb-5" style="background-color:background-color: rgba(255,255,255,0.02);">
    <h4>YORUMLAR (4)</h4>
    <div class="container">
        <div class="row px-4">
            <div class="media comment-box d-flex mt-4">
                <div class="media-left">
                    <a href="#">
                        <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">John Doe</h4>
                    <p>11Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type
                        and scrambled it to make a type specimen book. It has survived not only five centuries, but also
                        the
                        leap into electronic typesetting, remaining essentially unchanged. It was popularised in the
                        1960s
                        with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                        desktop
                        publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        <span class="text-muted"><br>
                            <span>25 HAZİRAN 2023 16.24 -</span>
                            <button class="btn btn-dark btn-sm" onclick="createReplyComment('1254')">Yanıtla</button>
                            <button class="btn btn-success btn-sm">Onayla</button>
                            <partial name="../Comment/Delete"></partial>
                        </span>
                    </p>
                    <div class="media d-flex mt-4">
                        <div class="media-left">
                            <a href="#">
                                <img class="img-responsive user-photo"
                                    src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Jane Doe</h4>
                            <p>22Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industry's standard dummy text ever since the 1500s, when an unknown printer
                                took a
                                galley of type and scrambled it to make a type specimen book. It has survived not only
                                five
                                centuries, but also the leap into electronic typesetting, remaining essentially
                                unchanged.
                                It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                                Ipsum
                                passages, and more recently with desktop publishing software like Aldus PageMaker
                                including
                                versions of Lorem Ipsum.
                                <span class="text-muted"><br>
                                    <span>25 HAZİRAN 2023 16.24 -</span>
                                    <button class="btn btn-dark btn-sm" onclick="createReplyComment('1254')">Yanıtla</button>
                                    <button asp-action="Detail" asp-controller="Article" class="btn btn-success btn-sm">Onayla</button>
                                    <partial name="../Comment/Delete"></partial>
                                </span>
                            </p>
                            <div class="media d-flex mt-4">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="img-responsive user-photo"
                                            src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Jane Doe</h4>
                                    <p>22Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum
                                        has
                                        been the industry's standard dummy text ever since the 1500s, when an unknown
                                        printer
                                        took a
                                        galley of type and scrambled it to make a type specimen book. It has survived
                                        not only
                                        five
                                        centuries, but also the leap into electronic typesetting, remaining essentially
                                        unchanged.
                                        It was popularised in the 1960s with the release of Letraset sheets containing
                                        Lorem
                                        Ipsum
                                        passages, and more recently with desktop publishing software like Aldus
                                        PageMaker
                                        including
                                        versions of Lorem Ipsum.
                                    </p>
                                    <div class="media d-flex mt-4">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="img-responsive user-photo"
                                                    src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                                            </a>
                                        </div>
                                        <div class="media-body" id="1254">
                                            <h4 class="media-heading">Jane Doe</h4>
                                            <p>22Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry.
                                                Lorem Ipsum
                                                has
                                                been the industry's standard dummy text ever since the 1500s, when an
                                                unknown
                                                printer
                                                took a
                                                galley of type and scrambled it to make a type specimen book. It has
                                                survived
                                                not only
                                                five
                                                centuries, but also the leap into electronic typesetting, remaining
                                                essentially
                                                unchanged.
                                                It was popularised in the 1960s with the release of Letraset sheets
                                                containing
                                                Lorem
                                                Ipsum
                                                passages, and more recently with desktop publishing software like Aldus
                                                PageMaker
                                                including
                                                versions of Lorem Ipsum.
                                                <span class="text-muted"><br>25 HAZİRAN 2023 16.24 - <button
                                                        class="btn btn-dark btn-sm"
                                                        onclick="createReplyComment('1254')">Yanıtla</button></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="media d-flex mt-4">
                        <div class="media-left">
                            <a href="#">
                                <img class="img-responsive user-photo"
                                    src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">John Doe</h4>
                            <p>33Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industry's standard dummy text ever since the 1500s, when an unknown printer
                                took a
                                galley of type and scrambled it to make a type specimen book. It has survived not only
                                five
                                centuries, but also the leap into electronic typesetting, remaining essentially
                                unchanged.
                                It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                                Ipsum
                                passages, and more recently with desktop publishing software like Aldus PageMaker
                                including
                                versions of Lorem Ipsum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var activeReplyComment = false;

    function createReplyComment(id) {
        if (activeReplyComment == true) return;

        var targetElement = document.getElementById(id);
        var newElement = document.createElement("div");
        newElement.setAttribute("class", "media comment-box d-flex my-4");
        newElement.setAttribute("id", `${id}2`);
        newElement.innerHTML = `
                <div class="media-left">
                    <a href="#">
                        <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                    </a>
                </div>
                <div class="media-body col">
                    <form method="post">
                        <div class="mb-3">
                            <input type="text" class="form-control border-1 border-light rounded-0 bg-black text-light" name="Name" id="Name" aria-describedby="helpId"
                                placeholder="ISIM">
                        </div>
                        <div class="mb-3">
                            <input type="email" class="form-control border-1 border-light rounded-0 bg-black text-light" name="Email" id="Email"
                                aria-describedby="emailHelpId" placeholder="EMAIL">
                        </div>
                        <div class="mb-3">
                            <div class="mb-3">
                              <textarea class="form-control border-1 border-light rounded-0 bg-black text-light" name="Comment" id="Comment" rows="5" placeholder="YORUM"></textarea>
                            </div>
                        </div>
                        <div class="d-grid gap-2">
                          <button type="submit" name="btnComment" id="btnComment" class="btn btn-success">Yorumu Gönder</button>
                          <button type="button" name="btnComment" id="btnComment" class="btn btn-dark" onclick="cancelReplyComment('1254')">İptal</button>
                        </div>
                    </form>
                </div>`;
        targetElement.appendChild(newElement);

        activeReplyComment = true;
    }

    function cancelReplyComment(id) {
        if (activeReplyComment == false) return;
        var removeElement = document.getElementById(`${id}2`);
        var parentElement = document.getElementById(id);
        parentElement.removeChild(removeElement);
        activeReplyComment = false;
    }
</script>