<form asp-controller="Home" asp-action="Search" method="post" class="d-none d-lg-flex m-0 p-0 border-0 mt-5"
    style="background-color: rgba(255,255,255,0.02);">
    <input class="py-0 form-control border-0 bg-dark text-light" name="searchText" type="text" style="height: 2.7rem;"
        placeholder="Aranacak Kelime..">
    <button class="btn btn-outline-dark" type="submit" style="color: white; width: 3rem;"><i
            class="fa-solid fa-magnifying-glass fa-lg"></i></button>
</form>