@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Furkan Baştan - Bilgisayar Mühendisinin Notları</title>
    <link rel="icon" type="image/x-icon" href="~/img/favicon.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PersonalBlog.Web.styles.css" asp-append-version="true" />

    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet"
        type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
</head>

<body class="bg-dark" style="color: white;">
    <div class="container d-flex align-items-center justify-content-center" style="height: 50rem;">
        <form class="card p-4 mt-5 bg-black" style="width: 25rem; background-color: ;">
            <div class="card-title d-flex justify-content-start mb-3">
                <h4 class="">Oturum Aç</h4>
                <button asp-action="Index" asp-controller="Home" class="btn btn-dark ms-auto"><i class="fa-solid fa-arrow-left"></i></button>
                <hr>
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
                <input type="email" id="form2Example1" class="form-control bg-dark border-0" style="color: white;"/>
                <label class="form-label" for="form2Example1">Email</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <input type="password" id="form2Example2" class="form-control bg-dark border-0" style="color: white;"/>
                <label class="form-label" for="form2Example2">Şifre</label>
            </div>

            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                    <!-- Checkbox -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                        <label class="form-check-label" for="form2Example31"> Beni Hatırla </label>
                    </div>
                </div>

                <div class="col">
                    <!-- Simple link -->
                    <a href="#!">Şifremi Unutum?</a>
                </div>
            </div>

            <!-- Submit button -->
            <button type="button" class="btn btn-success btn-block mb-4">Giriş Yap</button>
        </form>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>

</html>