<div class="p-5 bg-black mb-5" style="background-color:background-color: rgba(255,255,255,0.02);">
    <h3 class="d-flex justify-content-between align-items-center" style="color: burlywood; font-weight: bolder;">
        <p>Arama Sonuçları</p>
    </h3>
    <div class="d-flex align-items-center">
        <i class="fa-solid fa-magnifying-glass fa-2xl me-3"></i>
        <input type="text" class="form-control-lg border-0 rounded-0 bg-light col" disabled
            value='"@ViewBag.SearchText" sonuçları.'>
    </div>
    <div class="search-result mt-5">
        <div class="">
            <h5 style="color: white; font-weight: bolder; padding: ;"><a asp-action="Detail" asp-controller="Article"
                    asp-route-id="5544">Css İle Harikalar Yaratacağınız Harika Siteler</a></h5>
            <p style="font-weight: 300; font-size: small;">25 HAZİRAN 2025</p>
        </div>
        <div class="">
            <h5 style="color: white; font-weight: bolder; padding: ;"><a asp-action="Detail" asp-controller="Article"
                    asp-route-id="5544">Css İle Harikalar Yaratacağınız Harika Siteler</a></h5>
            <p style="font-weight: 300; font-size: small;">25 HAZİRAN 2025</p>
        </div>
    </div>
</div>
