@model ArticleCreateDto

<div class="p-5 bg-black mb-5" style="background-color:background-color: rgba(255,255,255,0.02);">
    <h3 class="d-inline text-center" style="color: burlywood; font-weight: bolder;">Makaleyi Ekle</h3>

    <form class="m-4" method="post" asp-action="Create">
        <div class="mb-3">
            <label asp-for="Title" class="form-label">Makale Başlığı:</label>
            <input type="text" asp-for="Title" class="form-control border-1 border-light rounded-0 bg-black text-light"
                name="Title" id="Title" aria-describedby="Title" placeholder="MAKALE BAŞLIĞI">
        </div>
        <div class="mb-3">
            <div class="mb-3 mt-4">
                <label asp-for="Content" class="form-label">Makale İçeriği :</label>
                <textarea asp-for="Content" class="form-control border-1 border-light rounded-0 bg-black text-light"
                    name="Content" id="Content" rows="50"
                    placeholder="MAKALE İÇERİĞİ (MARKDOWN OLARAK GİRİZİN.)"></textarea>
            </div>
        </div>
        <div class="mb-3">
            <div class="mb-3 mt-4">
                <label class="form-label"></label>
                <select class="form-control" asp-for="SelectedCategoryList" style="height: 30rem;" multiple>
                    @foreach (var category in Model.CategoryList)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="d-grid gap-2 mt-4">
            <button type="submit" name="btnKaydet" id="btnKaydet" class="btn btn-success">Kaydet</button>
        </div>
    </form>
</div>