@model ArticleListDto

<div class="p-5 bg-black mb-5" style="background-color:background-color: rgba(255,255,255,0.02);">
    <!-- Sayfa Başlık kısmı -->
    <h3 class="d-flex justify-content-between align-items-center"
        style="color: burlywood; font-weight: bolder; margin: 0 0 4rem 0;">
        <p>Makale Arşivim</p>
        <a asp-action="Create" asp-controller="Article" class="btn btn-outline-success btn-">Yeni Makale Oluştur</a>
    </h3>

    <!-- Makaleleri yazdırdığımız kısım -->
    @foreach (var article in Model.Articles)
    {
        <div class="">
            <h5 style="color: white; font-weight: bolder; padding: ;"><a target="_blank" asp-action="Detail" asp-controller="Article"
                    asp-route-id="@article.Id">@article.Title</a></h5>
            <p style="font-weight: 300; font-size: small;">@article.CreatedDate</p>
        </div>
    }

    <!-- Pagination Kısmı -->
    <nav class="d-flex justify-content-center">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>